{
  "parser": "eslint-plugin-coffee",
  "plugins": ["coffee"],
  "env": {
    "browser": true,
    "node": true
  },
  "extends": [
    "plugin:coffee/eslint-recommended"
  ],
  "rules": {
    "coffee/id-length": 0,
    "coffee/no-template-curly-in-string": 1,
    "coffee/block-scoped-var": 1,
    "coffee/class-methods-use-this": 1,
    "coffee/complexity": 2,
    "coffee/no-empty-function": 2,
    "no-eval": 2,
    "coffee/no-useless-return": 1,
    "coffee/max-len": 2,
    "coffee/max-depth": 2,
    "coffee/no-unneeded-ternary": 2,
    "coffee/no-negated-condition": 2,
    "coffee/no-unnecessary-double-quotes": 1,
    "coffee/no-private-function-fat-arrows": 1,
    "coffee/shorthand-this": 1,
    "coffee/empty-func-parens": 1,
    "coffee/english-operators": 1,
    "coffee/no-backticks": 2,
    "coffee/array-bracket-newline": 1,
    "coffee/array-bracket-spacing": 1,
    "coffee/array-element-newline": 1,
    "comma-spacing": 1,
    "coffee/comma-style": 1,
    "computed-property-spacing": 1,
    "coffee/consistent-this": 1,
    "eol-last": 1,
    "coffee/function-paren-newline": 1,
    "key-spacing": 1,
    "coffee/keyword-spacing": 1,
    "linebreak-style": 2,
    "coffee/lines-between-class-members": 1
  }
}